BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 0
AlignAfterOpenBracket: false
BinPackArguments: false
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
ReflowComments: true
AlignConsecutiveMacros: false
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ContinuationIndentWidth: 2
