BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: -2

AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
ReflowComments: true

AlignTrailingComments: true
BreakBeforeBinaryOperators: NonAssignment

AlignArrayOfStructures: Left

PenaltyBreakAssignment: 20
PenaltyBreakBeforeFirstCallParameter: 0
