.container {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8pt;

  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  /* for Firefox */
  min-height: 0;
}

.left {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  flex-basis: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #424242;
}

.right {
  margin-left: 8px;
  flex-grow: 1;
  min-height: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.editor {
  flex-basis: 100%;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  border-style: solid;
  border-color: #424242;
  border-width: 1px;
  padding: 8pt;
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8pt;
  align-items: baseline;
  background-color: lightgray;
}

.fonts {
  margin-left: 4px;
  margin-right: 8px;
}

.text-size {
  margin-left: 4px;
  margin-right: 8px;
}

.next {
  padding-left: 6pt;
  padding-right: 6pt;
}
